@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 18px;
}

#section-header{
    background: url(../images/bg-header-mobile.png) no-repeat;
    background-size: contain;
}

@media (min-width: 768px) {
    
    #section-header{
        background: url(../images/bg-header-desktop.png) no-repeat;
        background-size: contain;
    }
}
